.alphabetWrap > .alphabet {
    font-size: 2em;
    flex: 1 1 calc(100% / 13 - 0.4em);
    outline: 0.08em solid silver;
    margin: 0.2em;
    display: flex;
    cursor: default;
    align-items: center;
    justify-content: center;
}
.alphabetWrap > .alphabet.justMatched {
    outline-color: green;
}
.alphabetWrap > .alphabet.justMismatched {
    outline-color: red;
  }
