.hangedman {
  display: inline-flex;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
  user-select: none;
  position: fixed;
  right: 10%;
  top: 30%;
  background-color: rgba(255, 255, 255, 0.5)

}
.guesscountWrap {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 20px;
  user-select: none;
}
.alphabetWrap {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 20px;
  user-select: none;
}
.winWrap {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  user-select: none;
  align-items: center;
  justify-content: center;
}
.winWrap > h1 {
    font-size: 2em;
    flex: 2 1;
    outline: 0.08em solid silver;
    margin: 0.2em;
    display: flex;
    cursor: default;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
.winWrap > button {
  font-size: 2em;
  flex: 1 1;
  margin: 0.2em;
  display: flex;
  cursor: default;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  background-color: #70ed46;
  transition: all 0.2s ease-in-out;
  border: 2px solid silver
}
.winWrap > button:hover {
  background-color: #a0f384;
}