.word {
    font-size: 2em;
    flex: 1 1;
    outline: 0.08em solid silver;
    margin: 0.2em;
    display: flex;
    cursor: default;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px
  }